.menuContainer {
  display: flex;
  position: absolute;
  right: 0;
  height: fit-content;
  transform: translateX(50%);
  transition: transform .5s ease-out 100ms;

  &:hover{
    transform: translateX(-1%)
  }

  div {
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;  background-color: var(--gray-200);

    button:first-child {
      margin-top: 2rem;
    }
  }

  button {
    height: 3rem;
    margin: 3px;
  }
}

.buttonMenu {
  background-color: var(--gray-200);
  color: var(--gray-500);
  height: fit-content;
  font-weight: 600;
  font-family: 'inter';
  padding: .3rem;
  border-radius: 0 0 0 5px;
  border: 0px 0px 1px 1px solid black;
}
