* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title: #f0eef0;
  --white: 241, 238, 238;
  --background: #F2F3F5;
  --text: #666666;
  --green: 24, 192, 24;
  --red: 211, 16, 16;

  --blue-dark: 5, 0, 143;
  --purple: 33, 25, 255;
  --blue: 8, 1, 219;
  --yellow-dark: 143, 119, 0;
  --yellow: 219, 182, 0;
}

@media (max-width: 1080px) {
  html {
    font-size: 90%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 80.5%;
  }
}

body,
input,
textarea,
button {
  font: 400 1rem 'Inter', sans-serif;
}

body {
  background-color: rgba(var(--yellow), 0.75);
}